body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.createEmployee-employee-profile-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    transition: box-shadow 0.3s;
}

.createEmployee-employee-profile-form:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.createEmployee-form-section {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000000;
}

.createEmployee-form-input,
.createEmployee-form-select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.createEmployee-form-input:focus,
.createEmployee-form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
    outline: none;
}

.createEmployee-form-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.createEmployee-form-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.createEmployee-form-button:active {
    background-color: #003d80;
}

.createEmployee-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.createEmployee-flex .createEmployee-form-section {
    width: 48%;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
}

.createEmployee-form-section span {
    color: red;
}

@media (max-width: 600px) {
    .createEmployee-flex {
        flex-direction: column;
    }

    .createEmployee-flex .createEmployee-form-section {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .createEmployee-employee-profile-form {
        padding: 20px;
    }

    .createEmployee-flex {
        flex-direction: row;
    }

    .createEmployee-flex .createEmployee-form-section {
        width: 48%;
    }

    .createEmployee-form-section {
        margin-bottom: 10px;
    }

    .createEmployee-form-input, .createEmployee-form-select {
        padding: 5px;
    }
}
